@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.list--geral{
    width: 90vw;
    height: 90vh;
    font-family: 'Nunito', sans-serif;
}
nav{
    margin-top: 10px;
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
nav h2{
    width: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    margin-top: -85px;
}
.list--btn--filter{
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: space-between;
    border-radius: 8px;
}
.btn--filter{
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    color: #868e96;
}
.btn--filter:focus{
    background-color: #FD377E;
    color: #ffffff;
}
ul{
    overflow-y: auto;
    height: 80vh;
}
li{
    width: 90vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
    margin-left: -40px;
    height: 87px;  
    border-radius: 4px;
    margin-bottom: 15px;
}
.ar1{
    display: flex;
    flex-direction: column;
    height: 87px;
    justify-content: space-evenly;
}
.ar2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
}
.ar1 h4,.ar1 h3{
    margin: 0px;
    width: 200px;
    text-align: start;
    margin-left: 15px;
}
.ar1 h3{
    font-size: 16px;
    line-height: 30px;
}
.ar1 h4,p{
    font-size: 12px;
    line-height: 22px;
    color: #868e96;
}
.btn-delete{
    width: 22px;
    height: 22px;
    border-radius: 2,46px;
    background-color: #e9ecef;
    background-image: url("../images/trash.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.btn-delete:hover{
    background-color: #868E96;
    background-image: url("../images/trashwhite.png");
}
.Entrada{
    background-color: rgb(175, 238, 175);
}
.Saida{
    background-color: rgb(245, 175, 175);
}
.retangle{
    width: 90vw;
    height: 97.35px;
    background-color: #F8F9FA;
    border: none;
    margin-top: 15px;
}
.vazio h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #868E96;
    text-align: start;
}
@media(min-width:768px){
    .list--geral{
        width: 560px;
        height: 627px;
    }
    nav{
        width: 560px;
        height: 40px;
    }
    nav h2{
        width: 150px;
        margin-top: 0px;
    }
    .list--btn--filter{
        width: 260px;
        flex-direction: row;
    }
    ul{
        height: 560px;
    }
    li{
        width: 540px;
    }
    .ar2{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .retangle{
        width: 550px;
    }
}
