header{
    width: 95vw;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F9FA;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}
.headerLimit{
    width: 80vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transactionLogo{
    width: 122.68px;
    height: 19.53px;
}
.btn-logout{
    width: 64px;
    height: 40px;
    background: #E9ECEF;
    border: 1.4px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 8px;
    color: #868E96;
    margin-right: 5px;
}
.btn-logout:hover{
    background: #868E96;
    color: #E9ECEF;
}