@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Nunito:wght@800&display=swap');
.boxMoney{
    background-color: #ffffff;
    width: 90vw;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.moneyBox{
    height: 70px;
    border: 1px solid #E9ECEF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: start;
    border-radius: 4px;
}
.a1{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 220px;
}
.a1 h3,.a1 h4{
    margin: 0px;
}
.a1 h4{
    color:#868E96;
    font-size: 12px;
    line-height: 22px;
}
.price{
    width: 100px;
    color:#FD377E;
}
@media (min-width:768px){
    .boxMoney{
        width: 363px;
    }
}